.header .container-fluid{
  width: 95%!important;
  margin: auto!important;
}
.header .nav-link, .dropdown-item{
  font-weight: bold;
  font-size: 1.2rem;
}
.header .dropdown-item{
  font-weight: 400;
  font-size: .8rem;

}

.modal-backdrop {
  background-color: transparent;
}

@media (max-width: 576px) {
  .header{
    /* position: relative!important; */
  }
  .nav-item .nav-link{
    color: #000!important;
  }
}