.navbar{
    background-color: #fff!important;
    position: sticky;
    min-height: 10vh;
    top: 0;
    z-index: 1;
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.48);
}
.navbar .nav-link{
    color: #000!important;
}

.navbar .dropdown .btn-secondary {
    color: #fff!important; 
    background-color: inherit!important;
    border: none!important; 
}
.navbar .dropdown .btn-secondary .start-50 {
   top: .2rem;
}